{% extends "base.html" %}
{% block content %}
  <h2 class="mb-3">{{ lang.icon }} {{ lang.name }} Lesson</h2>

  <div class="row align-items-start text-center">
    <div class="col-md-12">
      <p class="mb-4 learn-title">How to say "{{ phrase.id }}" in {{ lang.name }}:</p>
      <!-- <p class="lead mb-4"><strong>Context:</strong> {{ phrase.context }}</p>
      <p class="lead mb-4"><strong>Prompt:</strong> {{ phrase.prompt }}</p> -->

      <div class="mb-3 learn-text">
        <strong>Native:</strong> {{ phrase.native }}<br>
        <strong>Romanized:</strong> {{ phrase.roman }}<br>
        <strong>Phonetic:</strong> {{ phrase.phonetic }}
      </div>

        <audio controls class="mb-3">
          <source src="{{ url_for('static', filename='media/audio/' + phrase.audio) }}" type="audio/mpeg">
          Your browser does not support the audio element.
        </audio>

      <div>
        {% if index + 1 < total_steps %}
          <a href="{{ url_for('learn', idx=index + 1) }}" class="btn btn-primary">
              Next Phrase
          </a>
        {% else %}
          <a href="{{ url_for('quiz', q=0) }}" class="btn btn-success">
              Take the Quiz
          </a>
        {% endif %}
      </div>
    </div>

    <!-- <div class="col-md-4 text-center">
      <img class="quiz-img rounded" src="{{ url_for('static', filename='media/images/' + phrase.image) }}" alt="">
    </div> -->
  </div>
{% endblock %}
